body{
    font-family: "Signika", sans-serif;
    background-color: black;
    background-image: url('back.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.vids{
    width: 150px;
    height: 320px;
    display: none;
}
.edit{
    margin-top: 30px;
    border: solid 2px;
    border-radius: 20px;
    text-align: center;
    background-color: #eee;
}
.input{
    padding: 20px;
    font-size: 20px;
    text-align: center;

}
#name{
    font-size: 20px;
    border-radius: 20px;
}
.gend{
    padding: 10px;
    font-size: 20px;
}
.btn{
    margin-bottom: 20px;
    font-size: 20px;
    border: solid 1px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: ba 0.3s;
}
.btn:hover{
    background-color: rgba(128, 128, 128, 0.196);
}
@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: black; }
    100% { color: purple; }
}
.res{
    font-size: 30px;
    font-weight: bold;
    animation: colorChange 2s infinite;
    text-align: center;
    margin: 20px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}